phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
registry=https://registry.npm.taobao.org
proxy http://maven.dahuatech.com/repository/npm-group/=
https-proxy http://maven.dahuatech.com/repository/npm-group/=
registry http://maven.dahuatech.com/repository/npm-group/=
proxy=http://maven.dahuatech.com/repository/npm-group/
https-proxy=http://maven.dahuatech.com/repository/npm-group/
registry=http://maven.dahuatech.com/repository/npm-group/
